@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #1b1b24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login { 
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: #fff;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #1b1b24;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #fff;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0px;
}

.textfield  input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #23232e;
    color: #fff;
    font-size: 12pt;
    box-shadow: 0px 5px 10px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #fff;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #23232e;
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px #f0ffff94;
}